.bg-footer {
    background-color: #2b2f33 !important;
    color: white;
    padding: 30px 0;
}

.bg-backDesignBottom {
      background-image: url("../img/header.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.bg-backDesignTop {
    background-color: #fcfcfc;
}

.elementId1 {
    text-align: center;
}
.elementId2 {
    text-align: center;
}
.elementId3 {
    text-align: center;
}
.elementId4 {
    text-align: center;
}
#first {
    float: left;
    padding-top: 30px;
}
#second {
    text-align: left;
    overflow: visible;

    padding-top: 40px;
}
#third {
    text-align: left;

}
.shadow {
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}
.business-card {
    background-color: white;
    padding: 10px;
    text-align: center;
}
.readmore {
    background-color: white;
    border: 2px solid #FF4800;
    border-radius: 12px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
}
    .readmore:hover {
        background-color: #FF4800;
        color: white;
    }
.profile-img {
    height: 120px;
    background: white;
}
.media-heading {
    padding-left: 20px;
}
.job {
    color: #666666;
    font-size: 17px;
    padding-left: 20px;
}
.bg-back {
    background-color: #fcfcfc;
}